
<video playsinline autoplay loop width="100%">
	<source src="../assets/waves.mp4" type="video/mp4">
	Your browser does not support the video tag
</video>

<div class="overlay">
	<app-editor></app-editor>
	<h2>Welcome to Project Monaco. My live, collaborative code editor utilizing operational transformation. 
		This project is nearly functionally complete (with the exception of error handling and document recovery), 
		but the UI is awful (as can be seen, I spent more time looking for the background video than doing the web 
		design). If the editor is no longer operational, its because - again - it's likely because someone was editting 
		at the same moment another user was joining the session. Until I get around to solving this, the only solution 
		is to restart the backend. The page is also entirely unresponsive at the moment.</h2>
</div>



